{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- breadcrumb_section - start
================================================== -->
    <section class="breadcrumb_section text-center clearfix">
        <div class="page_title_area has_overlay d-flex align-items-center clearfix"
             data-bg-image="assets/images/breadcrumb/bg_03.jpg">
            <div class="overlay"></div>
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <h1 class="page_title text-white mb-0">Reservation</h1>
            </div>
        </div>
        <div class="breadcrumb_nav clearfix" data-bg-color="#F2F2F2">
            <div class="container">
                <ul class="ul_li clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="car.html">Our Cars</a></li>
                    <li>Reservation</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- breadcrumb_section - end
    ================================================== -->
    <!-- reservation_section - start
                ================================================== -->
    <section class="reservation_section sec_ptb_100 clearfix">
        <div class="container">
            <div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">

                <div class="col-lg-4 col-md-8 col-sm-10 col-xs-12">
                    <div class="feature_vehicle_item mt-0 ml-0" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="item_title mb-0">
                            {{ car.brand }} {{ car.model }}
                        </h3>
                        <div class="item_image position-relative">
                            <a class="image_wrap" href="#!">
                                <img src="{{ asset('images/upload_vehicle/'~car.photo) }}" alt="image_not_found">
                            </a>
                            <span class="item_price bg_default_blue">{{ car.price }}€ / day</span>
                        </div>
                        <h2 class="item-title m-2 text-center">
                            {{ car.type }}
                        </h2>
                        <h2 class="item-title m-2 text-center">
                            {{ car.energy }}
                        </h2>
                        <h2 class="item-title m-2 text-center">
                            {{ car.transmission }}
                        </h2>
                        <h2 class="item-title m-2 text-center">
                            {{ car.numberOfDoors }} doors
                        </h2>
                        <h2 class="item-title m-2 text-center">
                            {{ car.numberOfSeats }} seats
                        </h2>
                        {% if car.type == 'utilitaire' %}
                            <h2 class="item-title m-2 text-center">
                                {{ car.volume }} m³
                            </h2>
                        {% endif %}
                        <h2 class="item-title m-2 text-center">
                            {{ car.licenceRequired }} licence required
                        </h2>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-4 text-center">
                            <h4 class="input_title">Starting date</h4>
                            {{ rentDate | date("m/d/Y") }}
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-4 text-center">
                            <h4 class="input_title">Location <i
                                        class="fas fa-map-marker-alt"></i></h4>
                            {{ location }}
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4 mb-4 text-center">
                            <h4 class="input_title">Returning date</h4>
                            {{ returnDate | date("m/d/Y") }}
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4 mb-4 text-center">
                            <h4 class="input_title">Location <i
                                        class="fas fa-map-marker-alt"></i></h4>
                            {{ returnLocation }}
                        </div>
                    </div>
                    <hr class="mt-0" data-aos="fade-up" data-aos-delay="700">
                    {#                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12"> #}
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-4 text-center">
                            <h4 class="input_title">Total number of days</h4>
                            {{ numberOfDays }} days
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-4 text-center">
                            <h4 class="input_title">Total price</h4>
                            {{ totalPrice }} €
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-4 text-center">
                            <h4 class="input_title">Km included</h4>
                            700 Km
                        </div>
                    </div>
                    {#                    </div> #}
                    <hr class="mt-0" data-aos="fade-up" data-aos-delay="700">

                    <div class="reservation_offer_checkbox">
                        <h4 class="input_title" data-aos="fade-up" data-aos-delay="800">Your Offer
                            Includes:</h4>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-aos="fade-up"
                                 data-aos-delay="900">
                                <div class="checkbox_input">
                                    <label for="offer1"><input type="checkbox" id="offer1" checked> Registration
                                        Free/ Road Tax</label>
                                </div>
                                <div class="checkbox_input">
                                    <label for="offer2"><input type="checkbox" id="offer2" checked> Fully
                                        Comprehensive Insurance</label>
                                </div>
                                <div class="checkbox_input">
                                    <label for="offer3"><input type="checkbox" id="offer3" checked> Unlimited
                                        Mileage</label>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-aos="fade-up"
                                 data-aos-delay="900">
                                <div class="checkbox_input">
                                    <label for="offer4"><input type="checkbox" id="offer4" checked>
                                        Excess/Security Deposit</label>
                                </div>
                                <div class="checkbox_input">
                                    <label for="offer5"><input type="checkbox" id="offer5"> Baby Seat:
                                        $23/Day</label>
                                </div>
                                <div class="checkbox_input">
                                    <label for="offer6"><input type="checkbox" id="offer6"> Breakdown
                                        Assistance</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="mt-0" data-aos="fade-up" data-aos-delay="100">

                    <div class="reservation_customer_details">
                        <h4 class="input_title" data-aos="fade-up" data-aos-delay="100">Customer Details:</h4>
                        {#                        <ul class="customer_gender ul_li clearfix" data-aos="fade-up" data-aos-delay="300"> #}
                        {#                            <li> #}
                        {#                                <div class="checkbox_input"> #}
                        {#                                    <label for="mr"><input type="radio" id="mr" name="gender"> Mr.</label> #}
                        {#                                </div> #}
                        {#                            </li> #}
                        {#                            <li> #}
                        {#                                <div class="checkbox_input"> #}
                        {#                                    <label for="ms"><input type="radio" id="ms" name="gender"> Ms.</label> #}
                        {#                                </div> #}
                        {#                            </li> #}
                        {#                        </ul> #}
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-xs-12 col-xs-12">
                                <div class="form_item" data-aos="fade-up" data-aos-delay="400">
                                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 mb-4">
                                        <h4 class="input_title">First Name</h4>
                                        {{ user.firstName }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-xs-12 col-xs-12">
                                <div class="form_item" data-aos="fade-up" data-aos-delay="500">
                                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 mb-4">
                                        <h4 class="input_title">Last Name</h4>
                                        {{ user.lastName }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-xs-12 col-xs-12">
                                <div class="form_item" data-aos="fade-up" data-aos-delay="600">
                                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 mb-4">
                                        <h4 class="input_title">Email address</h4>
                                        {{ user.email }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-xs-12 col-xs-12">
                                <div class="form_item" data-aos="fade-up" data-aos-delay="700">
                                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 mb-4">
                                        <h4 class="input_title">Phone number</h4>
                                        {{ user.phoneNumber }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 mb-4">
                                {{ form_start(form) }}
                                {{ form_row(form.licenceNumber) }}

                            </div>
                        </div>

                        <div data-aos="fade-up" data-aos-delay="100">
                            <a class="terms_condition" href="#!"><i class="fas fa-info-circle mr-1"></i> You
                                must be at least 21 years old to rent this car. Collision Damage Waiver
                                (CDW)</a>
                        </div>

                        <hr data-aos="fade-up" data-aos-delay="200">

                        <div class="row align-items-center justify-content-lg-between">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-aos="fade-up"
                                 data-aos-delay="200">
                                <div class="checkbox_input mb-0">
                                    <label for="accept"><input type="checkbox" id="accept"> I accept all
                                        information and Payments etc</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-aos="fade-up"
                                 data-aos-delay="300">
                                <button type="submit" class="custom_btn bg_default_red text-uppercase">
                                    Reservation Now <img src="assets/images/icons/icon_01.png"
                                                         alt="icon_not_found"></button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>

        </div>
        </div>
    </section>
    <!-- reservation_section - end
    ================================================== -->
{% endblock %}