{% extends 'base.html.twig' %}

{% block title %}Payement{% endblock %}

{% block body %}
    <section style="margin: 200px">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card">
                    <div class="card-body" style="width: 50vw">
                        {% for message in app.flashes('success') %}
                            <div style="color: green; border: 2px green solid; text-align: center;
                         padding: 5px;margin-bottom: 10px;">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="d-flex justify-content-center">
                            {% if totalPrice is null %}
                                <a href="{{ path('app_home') }}">
                                    <button type="button" class="custom_btn bg_default_red text-uppercase">
                                        Return to home</button>
                                </a>
                            {% else %}
                                <h4>Total price : {{ totalPrice }}</h4>
                            {% endif %}
                        </div>


                        <form id='checkout-form' method='post' action="{{ path('app_stripe_charge') }}">
                            <input type='hidden' name='stripeToken' id='stripe-token-id'>
                            <label for="card-element" class="mb-5">Checkout Reservation</label>
                            <br>
                            <div id="card-element" class="form-control"></div>
                            <button
                                    id='pay-btn'
                                    class="btn btn-success mt-3"
                                    type="button"
                                    style="margin-top: 20px; width: 100%;padding: 7px;"
                                    onclick="createToken()">PAY {# {{ event.price }} #}
                                {# TODO Décommenter la variable event.price pour affichage du prix #}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        let stripe = Stripe("{{ stripe_key }}");
        let elements = stripe.elements();
        let cardElement = elements.create('card');
        cardElement.mount('#card-element');

        function createToken() {
            document.getElementById("pay-btn").disabled = true;
            stripe.createToken(cardElement).then(function (result) {


                if (typeof result.error != 'undefined') {
                    document.getElementById("pay-btn").disabled = false;
                    alert(result.error.message);
                }

                // creating token success
                if (typeof result.token != 'undefined') {
                    document.getElementById("stripe-token-id").value = result.token.id;
                    document.getElementById('checkout-form').submit();
                }
            });
        }
    </script>
{% endblock %}
