{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- main body - start
    ================================================== -->
<main>


    <!-- mobile menu - start
    ================================================== -->
    <div class="sidebar-menu-wrapper">
        <div class="mobile_sidebar_menu">
            <button type="button" class="close_btn"><i class="fal fa-times"></i></button>

            <div class="about_content mb_60">
                <div class="brand_logo mb_15">
                    <a href="index.html">
                        <img src="assets/images/logo/logo_01_1x.png" srcset="assets/images/logo/logo_01_2x.png 2x"
                             alt="logo_not_found">
                    </a>
                </div>
                <p class="mb-0">
                    Nullam id dolor auctor, dignissim magna eu, mattis ante. Pellentesque tincidunt, elit a facilisis
                    efficitur, nunc nisi scelerisque enim, rhoncus malesuada est velit a nulla. Cras porta mi vitae
                    dolor tristique euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </p>
            </div>

            <div class="menu_list mb_60 clearfix">
                <h3 class="title_text text-white">Menu List</h3>
                <ul class="ul_li_block clearfix">
                    <li class="active dropdown">
                        <a href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                        <ul class="dropdown-menu">
                            <li><a href="index_1.html">Home Page V.1</a></li>
                            <li><a href="index_2.html">Home Page V.2</a></li>
                        </ul>
                    </li>
                    <li><a href="gallery.html">Our Cars</a></li>
                    <li><a href="review.html">Reviews</a></li>
                    <li><a href="about.html">About</a></li>
                    <li class="dropdown">
                        <a href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                        <ul class="dropdown-menu">
                            <li><a href="service.html">Our Service</a></li>
                            <li><a href="gallery.html">Car Gallery</a></li>
                            <li><a href="account.html">My Account</a></li>
                            <li><a href="reservation.html">Reservation</a></li>
                            <li class="dropdown">
                                <a href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogs</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog_details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our
                                    Cars</a>
                                <ul class="dropdown-menu">
                                    <li><a href="car.html">Cars</a></li>
                                    <li><a href="car_details.html">Car Details</a></li>
                                </ul>
                            </li>
                            <li><a href="cart.html">Shopping Cart</a></li>
                            <li><a href="faq.html">F.A.Q.</a></li>
                            <li><a href="login.html">Login</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Us</a>
                        <ul class="dropdown-menu">
                            <li><a href="contact.html">Contact Default</a></li>
                            <li><a href="contact_wordwide.html">Contact Wordwide</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="booking_car_form">
                <h3 class="title_text text-white mb-2">Book A Car</h3>
                <p class="mb_15">
                    Nullam id dolor auctor, dignissim magna eu, mattis ante. Pellentesque tincidunt, elit a facilisis
                    efficitur.
                </p>
                <form action="#">
                    <div class="form_item">
                        <h4 class="input_title text-white">Pick Up Location</h4>
                        <div class="position-relative">
                            <input id="location_one" type="text" name="location"
                                   placeholder="City, State or Airport Code">
                            <label for="location_one" class="input_icon"><i class="fas fa-map-marker-alt"></i></label>
                        </div>
                    </div>
                    <div class="form_item">
                        <h4 class="input_title text-white">Pick A Date</h4>
                        <input type="date" name="date">
                    </div>
                    <button type="submit" class="custom_btn bg_default_red btn_width text-uppercase">Book A Car <img
                                src="assets/images/icons/icon_01.png" alt="icon_not_found"></button>
                </form>
            </div>

        </div>
        <div class="overlay"></div>
    </div>
    <!-- mobile menu - end
    ================================================== -->


    <!-- breadcrumb_section - start
    ================================================== -->
    <section class="breadcrumb_section text-center clearfix">
        <div class="page_title_area has_overlay d-flex align-items-center clearfix"
             data-bg-image="assets/images/breadcrumb/bg_13.jpg">
            <div class="overlay"></div>
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <h1 class="page_title text-white mb-0">Available vehicles for you</h1>
            </div>
        </div>
        <div class="breadcrumb_nav clearfix" data-bg-color="#F2F2F2">
            <div class="container">
                <ul class="ul_li clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li>Search</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- breadcrumb_section - end
    ================================================== -->


    <!-- gallery_section - start
    ================================================== -->
    <section class="gallery_section sec_ptb_100 clearfix">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                    <div class="section_title mb_60 text-center" data-aos="fade-up" data-aos-delay="100">
                        <h2 class="title_text mb_15">
                            <span>Search result</span>
                        </h2>
                        <p class="mb-0">
                            Available vehicle to be picked up the {{ startDate | date("m/d/Y") }} and returned
                            the {{ endDate | date("m/d/Y") }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="feature_vehicle_filter mb-0 element-grid clearfix">
                {% for car in cars %}
                <div class="element-item">
                    <div class="feature_vehicle_item" data-aos="fade-up" data-aos-delay="300">
                        <h3 class="item_title mb-0">
                            <a href="#!">
                                {{ car.brand }} {{ car.model }}
                            </a>
                        </h3>
                        <div class="item_image position-relative">
                            <a class="image_wrap" href="#!">
                                <img src="{{ asset('images/upload_vehicle/'~car.photo) }}" alt="image_not_found">
                            </a>
                            <span class="item_price bg_default_blue">{{ car.price }}€ / day</span>
                        </div>
                        <ul class="info_list ul_li_center clearfix">
                            <li>{{ car.type }}</li>
                            <li>{{ car.energy }}</li>
                            <li>{{ car.transmission }}</li>
                            <li>{{ car.numberOfSeats }} Seats</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="pagination_wrap clearfix">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <span class="page_number" data-aos="fade-up" data-aos-delay="100">Page 1 of 3</span>
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <ul class="pagination_nav ul_li_right clearfix" data-aos="fade-up" data-aos-delay="300">
                            <li><a href="#!"><i class="fal fa-angle-double-left"></i></a></li>
                            <li class="active"><a href="#!">1</a></li>
                            <li><a href="#!">2</a></li>
                            <li><a href="#!">3</a></li>
                            <li><a href="#!"><i class="fal fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- gallery_section - end
    ================================================== -->

{% endblock %}